body {
  padding: 0;
  margin: 0;
}

.main-wrapper {
  padding: 0 10% 0 10%;
  background-color: #efefef;
  font-family: serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  height: 260px;
  width: 500px;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #cfd8dc;
  border-bottom: 2px solid #cfd8dc;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: auto;
  margin-bottom: 25px;
}

nav a {
  font-size: xx-large;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.5;
  color: #fc5830;
}

nav a:hover {
  color: orange;
}

nav a:active {
  color: lawngreen;
}

.toolbar {
  display: block;
  position: relative;
  height: 100px;
  width: 100%;
}

.toolbar input {
  position: absolute;
  font-weight: bold;
  height: 40px;
  width: 250px;
  right: 0;
  bottom: 20%;
  padding-left: 1%;
  border: 2px solid #fc5830;
  background-color: #efefef;
}

.toolbar input::-webkit-input-placeholder {
  color: #fc5830;
}

.toolbar input:-ms-input-placeholder {
  color: #fc5830;
}

.toolbar input::-ms-input-placeholder {
  color: #fc5830;
}

.toolbar input::placeholder {
  color: #fc5830;
}

#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#list article {
  width: 46%;
  margin: 1% 0;
  padding: 1%;
  background: white;
}

#list article img {
  width: 100%;
  height: auto;
}

#list article .post-description {
  color: #bdbdbd;
  font-size: 14px;
}

#list article h3 {
  color: #617d8a;
  margin-top: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 0.2em;
  border-top: 1px solid #cfd8dc;
  text-transform: uppercase;
}

#list article p {
  color: #757575;
  margin-top: 0;
  margin-bottom: 1.3em;
  font-size: 18px;
  line-height: 1.5;
}

#about h1 {
  text-align: right;
  vertical-align: text-bottom;
  margin-top: 3em;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #fc5830;
}

#about p {
  margin-top: 0;
  margin-bottom: 1.3em;
  color: #757575;
  font-size: 18px;
  line-height: 1.5;
}

#about img {
  width: 100%;
}

#contact h1, #contact h4 {
  text-align: right;
  vertical-align: text-bottom;
  margin-top: 3em;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #fc5830;
}

#contact h4 {
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1% 0;
}

form input {
  margin: 0.5em;
  height: 40px;
  padding-left: 1.5%;
  border: 1px solid #cfd8dc;
  color: #757575;
  font-weight: bold;
  background-color: #efefef;
}

form textarea {
  padding: 1% 1.5%;
  margin: 0.5%;
  font-family: serif;
  border: 1px solid #cfd8dc;
  color: #757575;
  font-weight: bold;
  background-color: #efefef;
}

form button {
  width: 20%;
  font-weight: bold;
  margin: 1% 0.5% 1% auto;
  height: 40px;
  color: white;
  background-color: #fc5830;
  border: 0;
  padding: 0;
  cursor: pointer;
}

form button:hover {
  background-color: #fd957b;
}

form button:active {
  background-color: #f53304;
}

footer {
  color: #757575;
}
/*# sourceMappingURL=style2.css.map */