/* task 1 print wersion */

@media print {
    /* page setings */
    @page {
        margin-top: 70px;
    }
    body {
        padding-top: 0;
    }
    /* only first section print */
    .tm-sidebar,
    #about,
    section:not(:first-of-type) {
        display: none;
    }
    .tm-main-content {
        margin-left: 0;
        padding-left: 0;
    }
    .tm-banner {
        height: 200px;
        padding: 0;
    }
    h2.tm-section-title {
        color: blue;
    }
    .flex-2-col {
        display: block;
    }
    .tm-team-description-container {
        max-width: none;
    }
    .flex-item:last-child {
        text-align: center;
    }
}

/* for normal view page */

@media screen {
    /* task 2 galary block */
    #about img {
        border-radius: 50%;
    }
    /* task 2 hover efect */
    #about .tm-box-bg-title:hover {
        background-color: #3fc4ec;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    /* task 3  each leter in paragraf big */
    .tm-section-description:not(.text-xs-center):first-letter {
        color: #76cdd7;
        font-size: 30px;
    }
    /* task 4 add box shadow */
    .tm-sidebar,
    .tm-content-box {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    }
    /* task 5  */
    .tm-content-box {
        position: relative;
    }
    .tm-content-box:not(:empty)::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        border-top: 30px solid #35b3da;
        border-right: 150px solid transparent;
        z-index: 10;
    }
    /* task 6 */
    .carousel-item .tm-section-title {
        color: gainsboro;
        letter-spacing: 5px;
    }
    /* task 7 italic font style */
    h2+p {
        font-style: italic;
    }
    /* task 8 */
    p:not(.tm-banner-text) {
        text-indent: 18px;
        line-height: 1.4;
    }
    /* task 9 links */
    .pad ol a:visited {
        color: silver;
    }
    .pad ol a:hover {
        text-decoration: underline double;
        color: #4dd2e0;
    }
    .pad ol a.text::after {
        content: "New";
        color: red;
        font-size: .6em;
        vertical-align: text-top;
    }
    /* task 10 layout for blocks & styles*/
    .gallery-container .box:nth-child(odd) {
        background-color: rgb(238, 235, 235);
    }
    .boxes.gallery-container .box p:first-letter {
        color: black;
        font-size: 24px;
    }
    .boxes.gallery-container .box p {
        text-indent: 0;
    }
    /* task 11 add boder in nav menu */
    .tm-nav-item:not(:last-of-type) {
        border-bottom: silver 2px dotted;
    }
    /* task 12 form */
    .contact-form input,
    .contact-form button {
        color: red;
    }
    .mandatory-field::after {
        content: "*";
        color: red;
    }
    .submit-btn:hover {
        color: white;
        background: #00b8cc;
        opacity: 0.5;
    }

    .tm-banner-inner {
        border: none;
    }
    .tm-banner-text::first-letter {
        color: #76cdd7;
        font-size: 30px;
    }
    .pad h2 {
        text-align: center;
        color: #5cc7d3;
    }
}