// main wrapper 
$main_padding: 0 10% 0 10%;
$main_bg_color: #efefef;
$p_0: 0;
$m_0: 0;
// logo
$logo_h: 260px;
$logo_w: 500px;
// nav menu
$nav_font_size: xx-large;
$font_f_sans_s: serif;
$nav_line_h: 2.5;
// flex
$d-f: flex;
$s_between: space-between;
$s_around: space-around;
// borders
$border_h: 2px;
$border_t_s: solid;
$nav_b_color: #cfd8dc;
// links
$link-color: #fc5830;
$l_h_c: orange;
$l_h_a: lawngreen;
// position
$d_b: block;
// search
$search_c: #fc5830;
// lists
$art_bg_c: white;
// description & all headers
$post_d_c: #bdbdbd;
$h3_c: #617d8a;
$h3_b_c: #cfd8dc;
$about_h1_c: #fc5830;
//posts p & text color
$text_color: #757575;
$text_font_s: 18px;
$text_l_h: 1.5;
// form
$form_h: 40px;
$form_m: 0.5em;
$form_b_c: #cfd8dc;
$form_t_c: #757575;
// button
$button_c: #fc5830;
// footer
$footer_c: #757575;